footer {
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0 40px 0;
}

.box {
  height: 40vh;
  width: 80vw;
}

#box3 {
  background-color: rgb(242, 255, 0);
}